<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Hello, I am the Sun Dial!</h1>
      <p class="lead">I am a simple web application that lets users dial through a list of phone numbers.</p>
      <hr class="my-4">
      <p>Click the call button below to begin dialing.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Call</a>
  </div>
  <div class="row">
    <ul>
      {{#each phones}}
        <li>
          <p>Phone Number: {{number}}</p>
          <p>Call Status: {{status}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

